.Header {
  background-color: #f5ebdc;
  position: fixed;
  width: 100%;
}
.Header-global {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
@media screen and (min-width: 1050px) {
  .Header-global {
    justify-content: center;
    gap: 3rem;
  }
}
.Header-logo {
  width: 5rem;
  position: absolute;
  bottom: -1rem;
  z-index: 1;
}
.Header-nav {
  margin-top: 10rem;
}
@media screen and (min-width: 742px) {
  .Header-nav {
    margin-top: 0;
  }
}
.Header-ul {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
}
@media screen and (min-width: 1050px) {
  .Header-ul {
    text-align: none;
    flex-flow: row nowrap;
  }
}
.Header-link {
  cursor: pointer;
  color: #502314;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 800;
}
@media screen and (min-width: 1050px) {
  .Header-link {
    font-size: 0.8rem;
  }
}
.Header-link--extra {
  cursor: pointer;
}
.Header-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1050px) {
  .Header-container {
    justify-content: space-between;
  }
}
.Header-container--englobal {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: 0;
  right: -100%;
  background-color: #f5ebdc;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  overflow: scroll;
}
@media screen and (min-width: 1050px) {
  .Header-container--englobal {
    overflow: auto;
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    flex-flow: row nowrap;
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1250px) {
  .Header-container--englobal {
    gap: 4rem;
  }
}
.Header-container--englobalActive {
  right: 0;
}
.Header-subcontainer {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.Header-img--spain {
  z-index: 1;
  width: 2rem;
  height: 2rem;
}
.Header-btn {
  border-radius: 0.8rem;
  border-style: none;
  background-color: #d62300;
  padding: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 1050px) {
  .Header-btn {
    padding: 0.8rem;
  }
}
.Header-link--mostrar {
  display: flex;
  opacity: 1;
  top: 6rem;
  flex-flow: column nowrap;
  gap: 1rem;
}
@media screen and (min-width: 1050px) {
  .Header-link--mostrar {
    opacity: 0;
    display: none;
    position: fixed;
    background-color: #f5ebdc;
    right: 18%;
    padding: 0.8rem;
    text-align: start;
    gap: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .Header-link--mostrar {
    right: 20%;
  }
}
@media screen and (min-width: 1250px) {
  .Header-link--mostrar {
    right: 24%;
  }
}
@media screen and (min-width: 1340px) {
  .Header-link--mostrar {
    right: 28%;
  }
}
@media screen and (min-width: 1400px) {
  .Header-link--mostrar {
    right: 32%;
  }
}
@media screen and (min-width: 1050px) {
  .Header-link--diff {
    color: #d62300;
  }
}
.Header-menu {
  z-index: 1;
  width: 2.5rem;
  cursor: pointer;
  background-color: #502314;
  fill: white;
  border-radius: 2rem;
  padding: 0.5rem;
}
@media screen and (min-width: 1050px) {
  .Header-menu {
    display: none;
  }
}

.Home {
  padding-top: 6rem;
  background-image: url(../../../public/assets/ES_HOME_BK_HERO_LG.png);
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 50%;
  background-size: cover;
  height: 50rem;
}
.Home-global {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1rem;
  width: 50rem;
  max-width: 100%;
}
.Home-h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #502314;
  font-weight: 800;
  width: 22rem;
}
@media screen and (min-width: 742px) {
  .Home-h1 {
    width: 48rem;
    font-size: 3.5rem;
  }
}
.Home-container {
  background-color: #d62300;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
}
.Home-span {
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
}
.Home-logo {
  position: relative;
  filter: invert(91%) sepia(7%) saturate(1010%) hue-rotate(325deg) brightness(109%) contrast(92%);
  width: 2rem;
}

/*# sourceMappingURL=index.css.map */
